uvicorn
fastapi
graphene
SQLAlchemy
graphene-sqlalchemy
promise
spotipy
python-dotenv
starlette
starlette-graphene3
PyJWT
asgiref
cffi
click
cryptography
h11
pycparser
pydantic
typing-extensions
tweepy
psycopg2
gunicorn